<h2><%= @cards.first.set %></h2>
<div class="container">
  <% @cards.each_slice(4) do |card_group| %>
    <div class="row my-4">
      <% card_group.each do |card| %>
        <div class="col-md-3 d-flex justify-content-center">
          <div class="card">
            <a href="/cards/<%= card.multiverseid %>">
              <img src="<%= card.imageurl %>" alt="<%= card.name %>">
            </a>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
