<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <style>
        body {
            background-image: url('https://wallpapercave.com/wp/wp2805745.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .coming-soon-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; 
        }

        .coming-soon-heading {
            font-size: 36px;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="coming-soon-container">
        <h1 class="coming-soon-heading">Coming Soon</h1>
    </div>
</body>
</html>